* {
  margin: 0;
  padding: 0;
}

.header {
  background: #f5f6fc;
  margin-bottom: 80px;
}

.banner-img {
  margin: 80px 115px;
  width: 60%;
}

.banner-img img {
  width: 100%;
  margin-bottom: -80px;
}
.banner {
  position: relative;
}
/*
.fashion-blog {
  margin: 250px 0 150px 0;
} */
.banner-title {
  position: absolute;
  left: 50%;
  top: 20%;
}
.blog-img img {
  width: 100%;
  height: 100%;

}
.fashion-blog{
margin : 10px 0px 10px 0px}

.banner-title h1 {
  font-size: 55px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  line-height: 70px;
  padding: 0 10px 0 10px;
  text-transform: uppercase;
}
.fashion-blog h5 {
  margin-top: 20px;
  min-width: bold;
  text-align: center;
}
.container_web{
margin-left : 10px;
margin-right : 10px;}

@media only screen and (max-width: 900px) {
  .banner-img {
    margin: 40px auto;
    width: 80%;
  }
  .fashion-box {
    margin: -20px 0;
  }
  .fashion-blog {
    margin: 100px 0 150px 0;
  }
}
